.textareaContainer {
  position: relative;
  margin-bottom: 20px;
}

.closeIconTextarea {
  width: 25px;
  height: 25px;
  position: absolute;

  top: 8px;
  right: 5px;
  transform: translateY(0);
  opacity: 0.5;
  cursor: pointer;
  transition: 0.2s ease-in;
  @media (min-width: 992px) {
    // hhv snippet
    &:hover {
      opacity: 0.8;
    }
  }
}

.textareaDescr {
  min-height: 150px;
  resize: vertical;
  font-family: Arial;
  width: 100%;
  display: block;
  padding: 10px 30px 10px 20px;
  border-radius: 10px;
  border: 2px solid rgba(#000, 0.3);
  font-size: 16px;
  transition: border 0.2s ease-in;
  &::placeholder {
    white-space: nowrap; /* Текст не переносится */
    transition: 0.2s ease-in;
  }
  &:focus {
    border: 2px solid rgba(#000, 0.6);
  }
}
